* {
    margin: 0; /* Внешний отступ */
    padding: 0; /* Внутренний отступ */
    box-sizing: border-box;
}

body {
    background: #E2E7EC;
    padding: 5%;
}

.content {
    max-width: 1140px;
    margin: 0 auto; /* Центрирование */
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 20px; /* Отступы между блоками */
    justify-content: center; 
}

.item { 
    height: 540px;
    background: #FFFFFF;
}

.item_big {
    grid-column: 1 / -2;
    background-image: url(img/Layer\ 1.png);
    padding: 48px;
    display: grid;
    align-content: end;
}

.item__text {
    padding: 24px;
}

.item__date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 16px;

    color: #818181;
}

.item__heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;

    color: #1D1D1D;
}

.item__heading_white {
    color: #FFFFFF;
}

@media (max-widht: 1023px) {
    body {
        padding: 0;
    }
}
